/* D:\Projetos\DesafioTecnico\ZapSign\frontend\src\app\app.scss */
/* Estilos globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        font-size: 1.5em;
        font-weight: bold;
    }

    .navbar-links {
        display: flex;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            padding: 8px 15px;
            margin-left: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover,
            &.active {
                background-color: #495057;
            }
        }

        .btn-logout {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 8px 15px;
            margin-left: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #c82333;
            }
        }
    }
}

.content-area {
    padding: 20px;
}