version: "3.9"

services:

  db:
    image: postgres:16
    container_name: zapsign_db
    restart: always
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:7-alpine
    container_name: zapsign_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    container_name: zapsign_backend
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ../:/app

  worker:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    container_name: zapsign_worker
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    command: /usr/local/bin/python -m celery -A config worker -l info
    volumes:
      - ../:/app

  frontend:
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    container_name: zapsign_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"
    volumes:
      - ../../frontend:/app
      - /app/node_modules

  n8n:
    image: n8nio/n8n:latest
    container_name: zapsign_n8n
    restart: always
    environment:
      - N8N_HOST=n8n
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://n8n:5678/
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - backend

volumes:
  postgres_data:
  n8n_data:
